In [13]:
import pandas as pd
import numpy as np
PATH = "/media/floricslimani/SSD4To/SSD_floricslimani/Fish_seq/Davide/2024-08-12 - SeqFISH - HeLa - Puro - R2TP1-2_Run7/"

In [14]:
Acquisition = pd.read_feather(PATH + "result_tables/Acquisition.feather")
Detection = pd.read_feather(PATH + "result_tables/Detection.feather")
Colocalisation = pd.read_feather(PATH + "result_tables/Colocalisation.feather")
Gene_map = pd.read_feather(PATH + "result_tables/Gene_map.feather")

# Preprocessing

## Merging data

In [15]:
coloc_len = len(Colocalisation)

Detection = pd.merge(
    Detection,
    Acquisition.loc[:,['acquisition_id','cycle']],
    on='acquisition_id'
)

Detection = pd.merge(
    Detection,
    Gene_map.loc[:,['target','cycle','color_id']],
    on=['color_id', 'cycle']
)
Colocalisation = pd.merge(
    Colocalisation,
    Detection.loc[:,['target','detection_id']],
    left_on='detection_id1',
    right_on='detection_id'
).rename(columns={'target' : 'target1'}).drop(columns= 'detection_id')
Colocalisation = pd.merge(
    Colocalisation,
    Detection.loc[:,['target','detection_id']],
    left_on='detection_id2',
    right_on='detection_id'
).rename(columns={'target' : 'target2'}).drop(columns= 'detection_id')
 
assert len(Colocalisation) == coloc_len
Colocalisation

,colocalisation_id,count,detection_id1,detection_id2,population1,population2,label,spot1_number,spot2_number,location,detection_id_x,cell_id,spot1_total_number,detection_id_y,spot2_total_number,fraction,sub_fraction,target1,target2
0,0,164.0,1,1,all,all,1,164,164,Location-01,1,0,164,1,164,1.000000,1.000000,POLR2A,POLR2A
1,1,158.0,1,1,free,all,1,158,164,Location-01,1,0,164,1,164,0.963415,1.000000,POLR2A,POLR2A
2,2,6.0,1,1,clustered,all,1,6,164,Location-01,1,0,164,1,164,0.036585,1.000000,POLR2A,POLR2A
3,3,158.0,1,1,all,free,1,164,158,Location-01,1,0,164,1,164,0.963415,0.963415,POLR2A,POLR2A
4,4,158.0,1,1,free,free,1,158,158,Location-01,1,0,164,1,164,0.963415,1.000000,POLR2A,POLR2A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2300251,2300251,NaN,252,252,free,free,22,0,0,Location-10,252,325,0,252,0,NaN,NaN,Washout_13_1,Washout_13_1
2300252,2300252,NaN,252,252,clustered,free,22,0,0,Location-10,252,325,0,252,0,NaN,NaN,Washout_13_1,Washout_13_1
2300253,2300253,NaN,252,252,all,clustered,22,0,0,Location-10,252,325,0,252,0,NaN,NaN,Washout_13_1,Washout_13_1
2300254,2300254,NaN,252,252,free,clustered,22,0,0,Location-10,252,325,0,252,0,NaN,NaN,Washout_13_1,Washout_13_1
2300255,2300255,NaN,252,252,clustered,clustered,22,0,0,Location-10,252,325,0,252,0,NaN,NaN,Washout_13_1,Washout_13_1